<div class="container" style="margin: 30px;">
  <div class="row no-gutters" style="margin: 30px;">
    <div class="col-md-8">
      <h1>注文履歴詳細</h1>
      <table class="table table-light">
        <tr>
          <th>購入者</th><td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
        </tr>
        <tr>
          <th>注文日</th><td><%= @order.created_at.strftime("%Y年%m月%d日") %></td>
        </tr>
        <tr>
          <th>配送先</th><td>〒<%= @order.postal_code %> <%= @order.address %><br><%= @order.name %></td>
        </tr>
        <tr>
          <th>支払い方法</th><td> <%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <td>
            <%= form_with model: @order, url: admin_orders_status_path(@order.id), method: :patch do |f| %>
              <%= f.select :status, Order.statuses.keys.map { |k| [Order.statuses_i18n[k], k] } %>
              <%= f.submit '更新', class:'btn btn-sm btn-success' %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" style="margin: 30px;">
    <div class="col-md-8">
      <table class="table">
        <thead class="table-primary">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= number_with_precision(order_detail.price * 1.10 , strip_insignificant_zeros: true) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= number_with_precision(order_detail.price * 1.10 * order_detail.amount , strip_insignificant_zeros: true) %></td>
            <td><%= order_detail.making_status %></td>
            <td>
              <%= form_with model: order_detail , url:  admin_order_details_production_path(order_detail.id), method: :patch do |f| %>
                <%= f.select :making_status, Order_detail.making_statuses.keys.map { |k| [Order_detail.making_statuses_i18n[k], k] } %>
                <%= f.submit '更新', class:'btn btn-sm btn-success' %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>