<%= image_tag @item.get_image(300,300) %>
<h1><%= @item.name %></h1>
<%= @item.introduction %>
￥<%= @item.price + (@item.price/10) %>（税込）
<%= form_with model: @cart_items, url: cart_items_path , method: :post do |f| %>
  <%= f.select :amount, ['1', '2', '3'], {include_blank: '個数選択'} %>
  <%= f.hidden_field :customer_id, value: current_customer.id %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.submit 'カートに入れる' %>
<% end %>